<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Book</title>
  <link rel="stylesheet" href="app.component.css">
</head>
<body>
  <div>
  
    <div *ngIf="isDialogOpen" class="cointainer">
      <p class="innercolorText"
        style="margin-top: 3.5%;font-size: xx-large;font-family: 'Roboto', sans-serif;margin-left:1%;">New Contact</p>
      <div class="textboxholder">
        <input [(ngModel)]="name" type="text" placeholder="Name"
          style="width:73%;height:10%;border-radius:25px;margin-top: 5.5%; margin-left:13%;text-align: center;font-size: medium;background-color:white;border:none;color:black;font-family: 'Roboto', sans-serif;">
        <input [(ngModel)]="email" type="text" placeholder="email"
          style="width:73%;height:10%;border-radius:25px;margin-top: 9.5%; margin-left:13%;text-align: center;font-size: medium;background-color: white;border:none;color:black;font-family: 'Roboto', sans-serif;">
        <input [(ngModel)]="phoneNumber" type="number" placeholder="number"
          style="width:73%;height:10%;border-radius:25px;margin-top: 10.5%; margin-left:13%;text-align: center;font-size: medium;background-color: white;border:none;color:black;font-family: 'Roboto', sans-serif;">
        <input type="file" (change)="onFileSelected($event)"
          style="width:73%;height:10%;border-radius:25px;margin-top: 10.5%; margin-left:13%;text-align: center;font-size: medium;background-color: white;border:none;color:black;font-family: 'Roboto', sans-serif;">
        <button (click)="addcontacts()"
          style="width:35%;height: 15%;border-radius:20px;margin-left:32%;margin-top:7%;background-color: white;border:none;color:black;font-family: 'Roboto', sans-serif;">Save
          Contact</button>
      </div>
    </div>
  </div>
  
  <div *ngIf="!isDialogOpen" class="contactList">
    <div style="text-align: center;background-color:#61B457;color:wheat;font-size: x-large;">
      <b>Contacts</b>
    </div>
    <div class="iop" *ngFor="let eachoption of contacts ; let j = index">
      <div>
        <span> <img [src]="eachoption.baseUrl" style="width: 120px;border-radius:50%;margin-left:-13%;"></span>
      </div>
      <div display="block">
        <div style="text-align: center;">
          <span> Name: {{ eachoption.name }}</span>
        </div>
        <div>
          <span style="text-align: center"> Email: {{ eachoption.email }}</span>
        </div>
        <div style="text-align: center">
          <span> phoneNumber: {{ eachoption.phoneNumber }}</span>
        </div>
        
      </div>
    </div>
  
  </div>
  <div>
    <i class="fas fa-user-plus fa-2X addcontact" (click)="openAddContact()" *ngIf="!isDialogOpen"></i>
    <i class="fas fa-user-plus fa-2X addcontact" (click)="openAddContact()"  *ngIf="isDialogOpen"></i>
  </div>
    <script src="app.component.ts"></script>
</body>
</html>