html{
    height: 100%;
}
.heading{
    font-size: 4em;
    font-family: 'Times New Roman';
    font-weight: bold;
    color: white;
}
body{
    background-image: none;
}
th{
    padding: 5px;
    color: white;
    background-color: violet;
    font-size: 2em;
}
table, #head {
    text-align: center;
    border: 1px solid;
}
td{
    padding: 5px;
}
